<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @*@Styles.Render("~/Content/seawaves")*@
    @Scripts.Render("~/bundles/modernizr")
    <style>
        .output-sizer {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -webkit-flex-direction: column;
            -ms-flex-direction: column;
            flex-direction: column;
        }
    </style>
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("Hidroacoustic sygnals", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                @*<li>@Html.ActionLink("Home", "Index", "Home")</li>*@
                @*<li>@Html.ActionLink("About", "About", "Home")</li>*@
                @*<li>@Html.ActionLink("Contact", "Contact", "Home")</li>*@
            </ul>
        </div>
    </div>
</div>
<div class="container body-content">
    @RenderBody()
        
    <p>&copy; @DateTime.Now.Year -Sofia Stepaniuk</p>
</div>
@*<div class="output-sizer">
    <div id="ocean"></div>

</div>*@
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@*@Scripts.Render("~/bundles/seawaves")*@

@RenderSection("scripts", required: false)
</body>

</html>
